*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik Mono One', sans-serif;
}








header{
    height: 80px;
    text-align: right;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1;
}

nav li{
    line-height: 80px;
    display: inline-block;
    list-style: none;
    margin: 0 10px;
    background-color: white;
}









.box{
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
}

#box1{
    background-color: red;
}

#box2{
    background-color: green;
}

#box3{
    background-color: yellow;
}


.layer {
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
    text-align: center;
    font-size: 24px;
    color: yellow;
}

#special{
    color: green;
    top: 50%;
}