*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

.box{
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    font-family: 'Rubik Mono One', sans-serif;;
}

#box1{
    background-color: red;
}

#box2{
    background-color: green;
}

#box3{
    background-color: yellow;
}


.layer {
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
    text-align: center;
    font-size: 24px;
    color: yellow;
}

#special{
    color: green;
    top: 50%;
}